<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
	<title>Cadastro de usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de usuário
				</h1>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading">
					<div class="form-group bw-required">
						<label for="nome">Nome</label>
						<input id="nome" th:field="*{nome}" type="text" class="form-control"/>
					</div>
					
				<div class="row">
					<div class="col-sm-8 form-group bw-required">
						<label for="email">E-mail</label>
						<input id="email" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-4 form-group bw-required">
						<label for="dataNascimento">Data de Nascimento</label>
						<input id="dataNascimento" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4 form-group bw-required">
						<label for="senha">Senha</label>
						<input id="senha" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="confirmacaoSenha">Confirmação de senha</label>
						<input id="confirmacaoSenha" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label class="control-label" for="ativo">Status</label>
						<div>
							<input id="ativo" type="checkbox" class="js-status" data-size="small" data-off-color="danger" data-on-text="Ativo" data-off-text="Inativo"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4 form-group">
						<label>Grupos</label>
						<div class="form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="grupo" id="administrador"/>
								Administrador
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="grupo" id="vendedor"/>
								Vendedor
							</label>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>
		
		<div th:replace="estado/CadastroRapidoEstado:: modal" ></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>